# Все зависимости опциональны.
# Программа запустится и без них, но часть функций будет отключена.

send2trash>=1.8.0         # удаление в Корзину Windows
openpyxl>=3.0.0           # чтение .xlsx со списками артикулов
python-docx>=0.8.11       # чтение .docx со списками артикулов